.lead__image {
    width: 77%;
    margin: 64px auto 0;
    display: block;
}


@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 56px auto 0;
        width: 90%;
      
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 100%;
    }
}

@media screen and (max-width: 475px) {
    .lead__image {
        margin-top: 40px;
     
    }
}
