.lead__caption {
    max-width: 183px;
    margin-top: 8px;
    margin-left: 148px;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;

}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 475px) {
    .lead__caption {
        margin-left: 16px;
    }
}
